---
title: "About"
---

<%= partial "shared/header" %>

<div class="core-feature">
  <div class="n-container">
    <div>
      <h1 class="heading-section"><%= t_data.about.header %></h1>
      <div class="hr-line hr-line-left"></div>
      <p class="content-text">
          <span><%= t_data.about.content %></span>
      </p>
    </div>
  </div>
</div>

<%= partial "shared/team" %>
<%= partial "shared/subscription" %>
<%= partial "shared/footer" %>
