---
title: "Career"
---


<%= partial "shared/header" %>

<div class="core-feature contact">
  <div class="n-container">
    <h1 class="heading-section heading-inner">
      <%= t_data.career.header %>
    </h1>
    <div class="hr-line hr-line-left"></div>
    <div class="contact-page">
      <div class="row clearfix">
        <div class="col clearfix">
          <p class="faq-heading heading-car">
            <%= t_data.career.content %>
          </p>
          <h1 class="faq-heading heading-car">
            <%= t_data.career.mail_to %>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "shared/subscription" %>
<%= partial "shared/footer" %>
