<div class="main-header">
  <%= partial "shared/main_header" %>

  <div class="n-container">

    <h1 class="heading"><%= t_data.header.heading %></h1>

    <div class="button-group">
      <a href="<%= t_data.header.community.link %>" target="_blank" class="button community-button"><%= t_data.header.community.name %></a>

      <a href="<%= t_data.header.whitepaper.link %>"
         target="_blank" class="button whitepaper-button">
        <%= t_data.header.whitepaper.name %>
      </a>
    </div>

  </div>
</div>

