<div id="partner" class="partner">
  <div class="n-container">

    <div class="advisors-section">
      <h1 class="heading-section"><%= t_data.partner.name %></h1>
      <div class="hr-line"></div>
    </div>

    <div class="main-core">
      <div class="partner-row clearfix">

        <div class="column clearfix">
          <a href="<%= t_data.partner.items.cmb.link %>" target="_blank" class="link-block inline-block">
            <img src="<%= image_path(t_data.partner.items.cmb.image_path) %>" class="left-image">
          </a>
        </div>

        <div class="column">
          <a href="<%= t_data.partner.items.cryptape.link %>" target="_blank" class="inline-block">
            <img src="<%= image_path(t_data.partner.items.cryptape.image_path) %>" class="right-image">
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
