<div id="team" class="team">
  <div class="n-container">
    <h1 class="heading-section">Nervos Team</h1>
    <div class="hr-line"></div>
    <div class="members">

      <% t_data.team.items.each_slice(3).to_a.each do |row| %>
        <div class="n-row clearfix">
          <% row.each_with_index do |person, index| %>
            <div class="<%= 'main-col' if index % 3 == 0 %> n-col">
              <div class="img-team">
                <img src="<%= image_path("team/" + person.image_name) %>" width="140" height="140"
                     sizes="(max-width: 479px) 100vw, 140px">
                <div class="name-team"><%= person.name %></div>
                <div class="text-block-2"><%= person.identity %></div>
                <div class="social-icon">

                  <% person.social.each do |s| %>
                    <%= social_icon(*s) %>
                  <% end %>

                </div>
                <div class="content-text">
                  <%= person.desc %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
