<div id="team" class="team">
  <div class="n-container">
    <h1 class="heading-section">Nervos Team</h1>
    <div class="hr-line"></div>
    <div class="members">

      <% data.team.each_slice(3).to_a.each_with_index do |row| %>
        <div class="n-row clearfix">
          <% row.each_with_index do |person, index| %>
            <% property = person[1] %>
            <div class="<%= 'main-col' if index % 3 == 0 %> n-col">
              <div class="img-team">
                <img src="<%= image_path("team/" + property.image_name) %>" width="140" height="140"
                     sizes="(max-width: 479px) 100vw, 140px">
                <div class="name-team"><%= property.name %></div>
                <div class="text-block-2"><%= property.identity %></div>
                <div class="social-icon">

                  <% if property.github? %>
                    <a target="_blank" href="<%= property.github %>">
                      <img src="<%= image_path("github_logo.svg") %>">
                    </a>
                  <% end %>

                  <% if property.link? %>
                    <a href="<%= property.link %>" target="_blank">
                      <img src="<%= image_path("link_logo.png") %>">
                    </a>
                  <% end %>

                  <% if property.twitter? %>
                    <a href="<%= property.twitter %>" target="_blank">
                      <img src="<%= image_path("twitter_logo.png") %>" width="35" height="35">
                    </a>
                  <% end %>

                  <% if property.linkedin? %>
                    <a href="<%= property.linkedin %>" target="_blank">
                      <img src="<%= image_path("linkedin_logo.svg") %>">
                    </a>
                  <% end %>

                </div>
                <div class="content-text">
                  <%= property.desc %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
