<div class="hero-section">
  <div class="header-nav">

    <div class="logo">
      <a href="#">
        <img src="<%= image_path(data.header.logo.src) %>" width="149" srcset="<%= parse_srcset_from_data(data.header.logo.srcset) %>"
             sizes="(max-width: 479px) 81vw, 149px" class="image">
      </a>
    </div>

    <div class="main-nav">
      <% data.header.menu.each_with_index do |item, index| %>
        <a href="<%= item.last.link %>" class="nav-item <%= 'menu-active' if index == 0 %>"><%= item.last.name %></a>
      <% end %>
    </div>

  </div>

  <div class="inner-container">

    <div class="hero-heading">
      <h1 class="heading"><%= data.header.heading %></h1>
    </div>

    <div class="hero-button">
      <a href="<%= data.header.community.link %>" target="_blank" class="community-button"><%= data.header.community.name %></a>

      <a href="<%= data.header.whitepaper.link %>"
         target="_blank" class="whitepaper-button">
        <%= data.header.whitepaper.name %>
      </a>
    </div>

  </div>
</div>

